.camera-container {
    width: 310px; /* Tamaño igual al del video */
    height: 360px; /* Tamaño igual al del video */
    border: 2px solid #575757; /* Borde superior */
    position: relative;
    border-radius: 8px;
    margin-bottom: 10px; /* Espacio para el recuadro de predicción */
}

.output-container {
    width: 310px; /* Tamaño igual al del video */
    height: 100px; /* Ajusta la altura según sea necesario */
    border: 2px solid #575757; /* Borde para el recuadro de predicción */
    display: flex;
    margin-top:20px;
    justify-content: center;
    align-items: center;
    color: #F9F4FF; /* Color del texto */
    background-color: #1C1C1C; /* Fondo del recuadro */
    border-radius: 8px;
}

