.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Espacio entre las tarjetas */
  }
  
  .card-container > div {
    flex: 1 1 calc(50% - 20px); /* Ancho de cada tarjeta: 50% menos el espacio de gap */
    box-sizing: border-box;
  }
  
  .header{
    .header {
        padding-left: 15px;
        padding-top: 60px;
        display: flex;
      }
  }
  .nav{
    margin-top:200px;
  }

  .card-containerP{
    flex: 1 1 calc(50% - 20px); /* Ancho de cada tarjeta: 50% menos el espacio de gap */
    box-sizing: border-box;
  }

  .card-image {
    width: 140px;
    height: 140px;
  }
  