.todo {
  /* Estilos del contenedor principal si es necesario */
}

.header {
  padding-left: 15px;
  padding-top: 60px;
  display: flex;
}

.direccion {
  margin-left: 15px;
}

.dire {
  font-size:14px;

}

.location {
  height: 14px;
  width: 14px;
  font-size:12px;

}

.arrow-left {
  /* Estilos específicos para la flecha si los necesitas */
}
.textoo{
  margin-left: 15px;
}
.texto2{
  margin-left: 15px;
  font-size:12px;

}